* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
    color: white;
}

.headder {
  width: 100%;
  height: 100vh;
  background-color: black;

  &__container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: relative;

    &_-item {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        margin: 0 10px;
        text-decoration: none;
        color: red;

        &:hover {
          color: greenyellow;
        }
      }
    }

    &_-inner {
      width: 100%;
      display: flex;
      background-color: black;
      height: 100px;

      &--fy {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .as {
          text-decoration: none;
          color: black;
          background-color: gold;
          font-size: 30px;
          padding: 10px 20px;
          box-shadow: inset 0 5px 2px orangered;

          &:hover {
            background-color: red;
            transition: background-color .5s;
            box-shadow: inset 0 0 0;
          }
        }

        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: greenyellow;
          }

          img {
            width: 130px;
            height: 74px;
          }
        }
      }

      &--exe {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        select {
          background-color: black;
          color: white;

          option {
            color: white;
          }
        }

        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: greenyellow;
          }
        }
      }
    }
  }

  &-enter {
    padding: 0 50px;
    height: 80%;

    &__container2 {
      width: 100%;
      height: 100%;
      background-image: url("https://www.game-insight.com/images/frontend/og_card.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      padding: 20px;

      &__item {
        height: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
          color: black;
        }

        h1 {
          color: black;
          font-size: 40px;

          a {
            text-decoration: none;
            color: black;
            background-color: gold;
            font-size: 30px;
            padding: 10px 20px;
            box-shadow: inset 0 5px 2px orangered;

            &:hover {
              background-color: red;
              transition: background-color .5s;
              box-shadow: inset 0 0 0;
            }
          }
        }
      }
    }
  }
}

.build {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;

  &__container {
    height: 85vh;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 25px;

    a {
      text-decoration: none;
      color: black;
      background-color: gold;
      font-size: 30px;
      padding: 10px 20px;
      box-shadow: inset 0 5px 2px orangered;
      border-radius: 10px;

      &:hover {
        background-color: red;
        transition: background-color .5s;
        box-shadow: inset 0 0 0;
      }
    }

    &_-item {
      width: 255px;
      height: 480px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &--inner {
        width: 225px;
        height: 360px;
      }

      &--inner2 {
        width: 225px;
        height: 360px;
      }

      &--inner1 {
        width: 225px;
        height: 360px;
      }
    }
  }

  .asa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.knea {
  height: 100vh;

  &__container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--item {
      width: 40%;
      height: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &---inner {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
          text-decoration: none;
          margin-left: 15px;
          color: black;
          background-color: gold;
          font-size: 30px;
          padding: 10px 20px;
          width: 280px;
          text-align: center;
        }
      }
    }
  }
}

.aura {
  height: 100vh;

  &__container {
    height: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
        background-color: gold;
        font-size: 20px;
        padding: 5px 10px;
        text-align: center;
      }
    }
  }

  &__container2 {
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 300px;
      height: 300px;
      background-image: url("../images/g169678 (1).jpg");
      background-repeat: no-repeat;
      background-size: cover;

      &:hover &---exe {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      &:hover p {
        top: 60%;
      }

      &:hover h1 {
        top: 15%;
      }

      &:nth-child(2) {
        background-image: url("../images/minecraft-btiene-una-actualizacixn-del-nether.jpg_1577178466 (1).webp");
        background-repeat: no-repeat;
        background-size: cover;

        &:hover p {
          top: 60%;
        }

        &:hover h1 {
          top: 15%;
        }
      }

      &:nth-child(3) {
        background-image: url("../images/Без названия (1).jpg");
        background-repeat: no-repeat;
        background-size: cover;

        &:hover p {
          top: 60%;
        }

        &:hover h1 {
          top: 15%;
        }
      }

      &:nth-child(4) {
        background-image: url("../images/images.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        &:hover p {
          top: 60%;
        }

        &:hover h1 {
          top: 15%;
        }
      }

      &---exe {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.43);
        position: relative;
        padding: 20px 0;
        transition: all .5s;

        h1 {
          position: absolute;
          top: 20%;
        }

        h4 {
          background-color: white;
          color: black;
          padding: 2px 5px;
          position: absolute;
          top: -10%;
          transition: all .5s;
        }

        p {
          position: absolute;
          top: 100%;
          overflow: hidden;
          transition: all .5s;
        }
      }
    }
  }
}

.demon {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__container0 {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    h1 {
      color: white;
    }

    &--item {
      width: 400px;
      display: flex;
      justify-content: space-between;

      &---inner {
        width: 35px;
        height: 35px;
        background-color: grey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__container {
    height: 70%;
    background-color: #262525;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--item1 {
      width: 40%;
      height: 80%;

      &---inner {
        display: flex;
        margin-bottom: 20px;

        &-img1 {
          width: 200px;
          border-radius: 10px;
          margin-right: 20px;
        }

        &-img2 {
          width: 200px;
          height: 175px;
          margin-left: 20px;
        }
      }

      &---inner1 {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--exe2 {
          display: flex;
          justify-content: space-around;

          a {
          text-decoration: none;
            color: white;
          }
        }
      }
    }

    &--item2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 350px;

      &---inner {
        display: flex;
        flex-direction: column;
        height: 100px;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    &--item4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 350px;

      &-fy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 150px;

        &---inner {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    &--item3 {
      height: 100%;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  &__container3 {
    height: 15%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;

    &--item {
      ol {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 600px;
      }

      img {
        width: 150px;
        height: 50px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media (max-width: 1024px) {
  .headder {
    width: 100%;
    height: 100vh;

    &__container {
      width: 100%;
      height: 20%;

      &_-item {
        width: 100%;
        height: 25%;

        a {
          font-size: 13px;
          margin: 0 5px;
        }
      }

      &_-inner {
        width: 100%;
        height: 100px;

        &--fy {
          width: 50%;

          .as {
            font-size: 20px;
            padding: 10px 20px;
          }

          a {
            img {
              width: 90px;
              height: 54px;
            }
          }
        }

        &--exe {
          width: 50%;

          select {
            font-size: 12px;
          }

          a {
            font-size: 13px;
          }
        }
      }
    }

    &-enter {
      padding: 0 50px;
      height: 80%;

      &__container2 {
        width: 100%;
        height: 100%;
        padding: 20px;

        &__item {
          height: 70%;
          padding: 20px;

          h1 {
            font-size: 35px;

            a {
              font-size: 20px;
              padding: 10px 20px;
              box-shadow: inset 0 5px 2px orangered;
            }
          }
        }
      }
    }
  }

  .build {
    &__container {
      padding-top: 20px;

      a {
        font-size: 25px;
        padding: 7.5px 15px;
      }

      &_-item {
        width: 235px;


        &--inner {
          width: 205px;
          height: 320px;
        }

        &--inner2 {
          width: 205px;
          height: 320px;
        }

        &--inner1 {
          width: 205px;
          height: 320px;
        }
      }
    }

    .asa {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .knea {
    &__container {
      height: 50%;

      &--item {
        width: 40%;
        height: 80%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &---inner {
          height: 85%;

          h1 {
            margin-left: 7.5px;
          }

          p {
            margin-left: 7.5px;
          }

          a {
            margin-left: 15px;
            font-size: 20px;
            padding: 10px 20px;
            width: 260px;
          }
        }
      }
    }
  }

  .aura {
    &__container {
      height: 22.5%;

      &--inner {
        height: 100%;

        a {
          font-size: 20px;
          padding: 5px 10px;
        }
      }
    }

    &__container2 {
      height: 55%;
      padding: 0 50px;

      &--item {
        width: 220px;
        height: 220px;
        overflow: hidden;
        position: relative;

        &---exe {
          height: 30%;
          padding: 20px 0;

          h1 {
            font-size: 20px;
            position: absolute;
          }

          p {
            position: absolute;
          }

          h4 {
            padding: 2px 5px;
          }
        }
      }
    }
  }

  .demon {
    &__container0 {
      h1 {
        font-size: 20px;
      }

      &--item {
        width: 400px;

        &---inner {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__container {
      &--item1 {
        &---inner {
          &-img1 {
            width: 175px;
            height: 150px;
            margin-right: 10px;
          }

          &-img2 {
            width: 175px;
            height: 150px;
            margin-left: 10px;
          }
        }

        &---inner1 {
          height: 25%;

          &--exe {
            font-size: 12px;
            margin-left: 10px;
          }

          &--exe2 {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item2 {
        &---inner {
          h3 {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
        }
      }

      &--item4 {
        &-fy {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &---inner {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item3 {
        width: 200px;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .headder {
    width: 100%;
    height: 100vh;

    &__container {
      width: 100%;
      height: 20%;

      &_-item {
        width: 100%;
        height: 25%;

        a {
          font-size: 13px;
          margin: 0 5px;
        }
      }

      &_-inner {
        width: 100%;
        height: 100px;

        &--fy {
          width: 50%;

          .as {
            font-size: 20px;
            padding: 10px 20px;
          }

          a {
            img {
              width: 90px;
              height: 54px;
            }
          }
        }

        &--exe {
          width: 50%;

          select {
            font-size: 12px;
          }

          a {
            font-size: 13px;
          }
        }
      }
    }

    &-enter {
      padding: 0 50px;
      height: 80%;

      &__container2 {
        width: 100%;
        height: 100%;
        padding: 20px;

        &__item {
          height: 70%;
          padding: 20px;

          h1 {
            font-size: 35px;

            a {
              font-size: 20px;
              padding: 10px 20px;
              box-shadow: inset 0 5px 2px orangered;
            }
          }
        }
      }
    }
  }

  .build {

    #lishniy {
      width: 0;
      height: 0;

      img {
        width: 0;
        height: 0;
      }

      h1 {
        font-size: 0;
      }

      p {
        font-size: 0;
      }
    }

    &__container {
      padding-top: 20px;

      a {
        font-size: 25px;
        padding: 7.5px 15px;
      }

      &_-item {
        width: 235px;


        &--inner {
          width: 205px;
          height: 320px;
        }

        &--inner2 {
          width: 205px;
          height: 320px;
        }

        &--inner1 {
          width: 205px;
          height: 320px;
        }
      }
    }

    .asa {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .knea {
    &__container {
      height: 50%;

      &--item {
        width: 40%;
        height: 80%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &---inner {
          height: 85%;

          h1 {
            margin-left: 7.5px;
          }

          p {
            margin-left: 7.5px;
          }

          a {
            margin-left: 15px;
            font-size: 20px;
            padding: 10px 20px;
            width: 260px;
          }
        }
      }
    }
  }

  .aura {

    #lishniy3 {
      width: 0;
      height: 0;

      #lishniy2 {
        width: 0;
        height: 0;

        img {
          width: 0;
          height: 0;
        }

        h4 {
          font-size: 0;
        }

        p {
          font-size: 0;
        }
      }
    }

    &__container {
      height: 22.5%;

      &--inner {
        height: 100%;

        a {
          font-size: 20px;
          padding: 5px 10px;
        }
      }
    }

    &__container2 {
      height: 55%;
      padding: 0 50px;

      &--item {
        width: 220px;
        height: 220px;
        overflow: hidden;
        position: relative;

        &---exe {
          height: 30%;
          padding: 20px 0;

          h1 {
            margin-top: 5px;
            font-size: 15px;
            position: absolute;
          }

          p {
            position: absolute;
          }

          h4 {
            padding: 2px 5px;
          }
        }
      }
    }
  }

  .demon {

    #lishniy4 {
      width: 0;
      height: 0;

      a {
        font-size: 0;
      }

      h3 {
        font-size: 0;
      }
    }

    &__container0 {
      h1 {
        font-size: 20px;
      }

      &--item {
        width: 400px;

        &---inner {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__container {
      &--item1 {
        &---inner {
          &-img1 {
            width: 175px;
            height: 150px;
            margin-right: 10px;
          }

          &-img2 {
            width: 175px;
            height: 150px;
            margin-left: 10px;
          }
        }

        &---inner1 {
          height: 25%;

          &--exe {
            font-size: 12px;
            margin-left: 10px;
          }

          &--exe2 {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item2 {
        margin-left: 50px;

        &---inner {
          h3 {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
        }
      }

      &--item4 {
        &-fy {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &---inner {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item3 {
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    &__container3 {
      &--item {
        ol {
          margin-left: 10px;
          width: 500px;
          font-size: 13px;
        }

        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .headder {
    //width: 425px;

    &__container {
      &_-item {
        a {
          font-size: 12px;
          margin: 0 10px;
        }
      }

      &_-inner {
        height: 100px;

        &--fy {
          width: 50%;

          .as {
            font-size: 15px;
            padding: 5px 10px;
          }

          a {
            img {
              width: 0;
              height: 0;
            }
          }
        }

        &--exe {
          width: 50%;
          height: 60px;
          flex-wrap: wrap;

          select {
            width: 90px;
          }

          a {
            font-size: 10px;
          }
        }
      }
    }

    &-enter {
      padding: 0 50px;
      height: 80%;

      &__container2 {
        width: 100%;
        height: 100%;
        padding: 20px;

        &__item {
          height: 70%;
          padding: 20px;

          h1 {
            font-size: 25px;

            a {
              font-size: 15px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  .build {
    //width: 425px;

    #lishniy5 {
      width: 0;
      height: 0;

      p {
        font-size: 0;
      }

      h1 {
        font-size: 0;
      }

      img {
        width: 0;
        height: 0;
      }
    }

    &__container {
      padding-top: 20px;

      a {
        font-size: 25px;
        padding: 7.5px 15px;
      }

      &_-item {
        width: 235px;


        &--inner {
          width: 205px;
          height: 320px;
        }

        &--inner2 {
          width: 205px;
          height: 320px;
        }

        &--inner1 {
          width: 205px;
          height: 320px;
        }
      }
    }

    .asa {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .knea {
    //width: 425px;

    &__container {
      &--item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &---inner {
          height: 85%;

          h1 {
            //margin-left: 13.5px;
            font-size: 15px;
          }

          p {
            //margin-left: 13.5px;
            font-size: 13.5px;
          }

          a {
            margin-top: 5px;
            margin-left: 15px;
            font-size: 15px;
            padding: 10px 20px;
            width: 135px;
          }
        }
      }
    }
  }

  .aura {
    //width: 425px;

    #lishniy08 {
      width: 0;
      height: 0;

      #lishniy8 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    #lishniy07 {
      width: 0;
      height: 0;

      #lishniy7 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    &__container {
      &--inner {

        p {
          font-size: 13px;
        }

        a {
          font-size: 15px;
          padding: 7.5px 12.5px;
        }
      }
    }

    &__container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55%;
      padding: 0 50px;

      &--item {
        width: 220px;
        height: 220px;
        overflow: hidden;
        position: relative;

        &---exe {
          height: 30%;
          padding: 20px 0;

          h1 {
            font-size: 15px;
            position: absolute;
            top: 20px;
          }

          p {
            position: absolute;
          }

          h4 {
            padding: 2px 5px;
          }
        }
      }
    }
  }

  .demon {
    //width: 425px;

    #lishniy00 {
      width: 0;
      height: 0;

      img {
        width: 0;
        height: 0;
      }
    }

    #lishniy4 {
      width: 0;
      height: 0;

      a {
        font-size: 0;
      }

      h3 {
        font-size: 0;
      }
    }

    &__container0 {
      h1 {
        font-size: 15px;
      }

      &--item {
        width: 400px;

        &---inner {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__container {
      &--item1 {
        &---inner {
          &-img1 {
            width: 175px;
            height: 150px;
            margin-right: 10px;
          }

          &-img2 {
            width: 0;
            height: 0;
            margin-left: 0;
          }
        }

        &---inner1 {
          height: 25%;

          &--exe {
            font-size: 12px;
            margin-left: 10px;
          }

          &--exe2 {
            a {
              margin: 0 5.5px;
              font-size: 13px;
            }
          }
        }
      }

      &--item2 {
        margin-left: 50px;

        &---inner {
          h3 {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
        }
      }

      &--item4 {
        &-fy {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &---inner {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item3 {
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    &__container3 {
      &--item {
        ol {
          margin-left: 0;
          width: 400px;
          font-size: 12px;
        }

        a {
          font-size: 0;

          img {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .headder {
    &__container {
      &_-item {
        a {
          font-size: 12px;
          margin: 0 10px;
        }
      }

      &_-inner {
        height: 100px;

        &--fy {
          width: 50%;

          .as {
            font-size: 15px;
            padding: 5px 10px;
          }

          a {
            img {
              width: 0;
              height: 0;
            }
          }
        }

        &--exe {
          width: 50%;
          height: 60px;
          flex-wrap: wrap;

          select {
            width: 90px;
          }

          a {
            font-size: 10px;
          }
        }
      }
    }

    &-enter {
      padding: 0 50px;
      height: 80%;

      &__container2 {
        width: 100%;
        height: 100%;
        padding: 20px;

        &__item {
          height: 70%;
          padding: 20px;

          h1 {
            font-size: 25px;

            a {
              font-size: 15px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  .build {
    #lishniy5 {
      width: 0;
      height: 0;

      p {
        font-size: 0;
      }

      h1 {
        font-size: 0;
      }

      img {
        width: 0;
        height: 0;
      }
    }

    &__container {
      padding-top: 20px;

      a {
        font-size: 15px;
        padding: 10px 15px;
      }

      &_-item {
        width: 235px;


        &--inner {
          width: 205px;
          height: 320px;
        }

        &--inner2 {
          width: 205px;
          height: 320px;
        }

        &--inner1 {
          width: 205px;
          height: 320px;
        }
      }
    }

    .asa {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .knea {
    &__container {
      &--item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &---inner {
          height: 85%;

          h1 {
            //margin-left: 13.5px;
            font-size: 15px;
          }

          p {
            //margin-left: 13.5px;
            font-size: 13.5px;
          }

          .s {
            margin-left: 0;
          }

          a {
            margin-top: 5px;
            margin-left: 15px;
            font-size: 15px;
            padding: 10px 20px;
            width: 135px;
          }
        }
      }
    }
  }

  .aura {
    #lishniy08 {
      width: 0;
      height: 0;

      #lishniy8 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    #lishniy07 {
      width: 0;
      height: 0;

      #lishniy7 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    &__container {
      &--inner {

        p {
          font-size: 13px;
        }

        a {
          font-size: 15px;
          padding: 7.5px 12.5px;
        }
      }
    }

    &__container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55%;
      //padding: 0 50px;

      &--item {
        width: 220px;
        height: 220px;
        overflow: hidden;
        position: relative;

        &---exe {
          height: 30%;
          padding: 20px 0;

          h1 {
            font-size: 15px;
            position: absolute;
            top: 20px;
          }

          p {
            position: absolute;
          }

          h4 {
            padding: 2px 5px;
          }
        }
      }
    }
  }

  .demon {

    #lishniy0 {
      font-size: 0;
    }

    #lishniy00 {
      width: 0;
      height: 0;

      img {
        width: 0;
        height: 0;
      }
    }

    #lishniy4 {
      width: 0;
      height: 0;

      a {
        font-size: 0;
      }

      h3 {
        font-size: 0;
      }
    }

    &__container0 {
      h1 {
        font-size: 15px;
      }

      &--item {
        width: 300px;

        &---inner {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__container {
      &--item1 {
        &---inner {
          &-img1 {
            width: 175px;
            height: 150px;
            margin-right: 10px;
          }

          &-img2 {
            width: 0;
            height: 0;
            margin-left: 0;
          }
        }

        &---inner1 {
          height: 25%;

          &--exe {
            font-size: 12px;
            margin-left: 10px;
          }

          &--exe2 {

            .sss {
              margin-left: 25px;
              margin-right: 5px;
            }

            .ss {
              margin-left: 5px;
            }

            a {
              margin: 0;
              font-size: 13px;
            }
          }
        }
      }

      &--item2 {
        margin-left: 50px;

        &---inner {
          h3 {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
        }
      }

      &--item4 {
        &-fy {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &---inner {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item3 {
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    &__container3 {
      &--item {
        width: 350px;

        ol {
          margin-left: 0;
          width: 350px;
          font-size: 12px;
        }

        a {
          font-size: 0;

          img {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .headder {
    &__container {
      &_-item {
        a {
          font-size: 12px;
          margin: 0 10px;
        }
      }

      &_-inner {
        height: 100px;

        &--fy {
          width: 50%;

          .as {
            font-size: 15px;
            padding: 5px 10px;
          }

          a {
            img {
              width: 0;
              height: 0;
            }
          }
        }

        &--exe {
          width: 50%;
          height: 60px;
          flex-wrap: wrap;

          select {
            width: 90px;
          }

          a {
            font-size: 10px;
          }
        }
      }
    }

    &-enter {
      padding: 0 50px;
      height: 80%;

      &__container2 {
        width: 100%;
        height: 100%;
        padding: 10px;

        &__item {
          height: 70%;
          padding: 0;

          h1 {
            font-size: 25px;

            a {
              font-size: 15px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  .build {
    #lishniy5 {
      width: 0;
      height: 0;

      p {
        font-size: 0;
      }

      h1 {
        font-size: 0;
      }

      img {
        width: 0;
        height: 0;
      }
    }

    &__container {
      padding-top: 20px;

      a {
        font-size: 0;
        padding: 0;
      }

      &_-item {
        width: 235px;


        &--inner {
          width: 205px;
          height: 320px;
        }

        &--inner2 {
          width: 205px;
          height: 320px;
        }

        &--inner1 {
          width: 205px;
          height: 320px;
        }
      }
    }

    .asa {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .knea {
    &__container {
      display: flex;
      flex-direction: column;

      &--item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &---inner {
          height: 85%;
          text-align: center;

          h1 {
            //margin-left: 13.5px;
            font-size: 15px;
          }

          p {
            //margin-left: 13.5px;
            font-size: 0;
          }

          .s {
            margin-left: 0;
          }

          a {
            margin-top: 5px;
            margin-left: 0;
            font-size: 15px;
            padding: 10px 20px;
            width: 135px;
          }
        }
      }
    }
  }

  .aura {
    #lishniy08 {
      width: 0;
      height: 0;

      #lishniy8 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    #lishniy07 {
      width: 0;
      height: 0;

      #lishniy7 {
        width: 0;
        height: 0;

        p {
          font-size: 0;
        }

        h1 {
          font-size: 0;
        }

        img {
          width: 0;
          height: 0;
        }
      }
    }

    &__container {
      &--inner {

        p {
          font-size: 13px;
        }

        a {
          font-size: 15px;
          padding: 7.5px 12.5px;
        }
      }
    }

    &__container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55%;
      //padding: 0 50px;

      &--item {
        width: 220px;
        height: 220px;
        overflow: hidden;
        position: relative;

        &---exe {
          height: 30%;
          padding: 20px 0;

          h1 {
            font-size: 15px;
            position: absolute;
            top: 20px;
          }

          p {
            position: absolute;
          }

          h4 {
            padding: 2px 5px;
          }
        }
      }
    }
  }

  .demon {

    #lishniy11 {
      font-size: 0;
    }

    #lishniy10 {
      font-size: 0;
    }

    #lishniy0 {
      font-size: 0;
    }

    #lishniy00 {
      width: 0;
      height: 0;

      img {
        width: 0;
        height: 0;
      }
    }

    #lishniy4 {
      width: 0;
      height: 0;

      a {
        font-size: 0;
      }

      h3 {
        font-size: 0;
      }
    }

    &__container0 {
      text-align: center;

      h1 {
        font-size: 15px;
      }

      &--item {
        width: 300px;

        &---inner {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__container {
      &--item1 {
        &---inner {
          &-img1 {
            width: 175px;
            height: 150px;
            margin-right: 10px;
          }

          &-img2 {
            width: 0;
            height: 0;
            margin-left: 0;
          }
        }

        &---inner1 {
          height: 25%;

          &--exe {
            font-size: 12px;
            margin-left: 10px;
          }

          &--exe2 {

            .sss {
              margin-left: 45px;
              margin-right: 5px;
            }

            .ss {
              margin-left: 5px;
            }

            a {
              margin: 0;
              font-size: 13px;
            }
          }
        }
      }

      &--item2 {
        margin-left: 65px;

        &---inner {
          h3 {
            font-size: 15px;
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 13px;
          }
        }
      }

      &--item4 {
        &-fy {
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &---inner {
            a {
              font-size: 13px;
            }
          }
        }
      }

      &--item3 {
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    &__container3 {
      &--item {
        width: 320px;

        ol {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          margin-left: 0;
          height: 50px;
          width: 320px;
          font-size: 12px;
        }

        a {
          font-size: 0;

          img {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}